/* Estilos Básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #f8b400;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Pacifico', cursive;
}

nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff6f61;
}

.hero {
    background: url('../img/bolo.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 100px 0;
    text-align: center;
    position: relative;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.hero .container {
    position: relative;
    z-index: 1;
}

.hero h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
    font-family: 'Pacifico', cursive;
}

.hero p {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.contact-info, .contact-details {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 2em;
    margin-bottom: 2em;
}

.contact-info h2, .contact-details h2 {
    color: #f8b400;
    margin-bottom: 1em;
}

form label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 0.75em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    padding: 0.75em 1.5em;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

form button:hover {
    background-color: #ff3f3f;
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    nav ul {
        text-align: left;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }
}

/* Importando Fontes do Google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Pacifico&display=swap');
